<div class="container-lg container-form-add-edit">
    <div class="col-6">
        <div class="container-title-icon">
            <h4>Modificar opinión</h4><i class="fa-solid fa-square-pen"></i>
        </div>
        <form action="/admin/opiniones/modificar" method="post" class="row g-3">
            <input type="hidden" value="{{opinion.id_op}}" name="id">
            <div class="col-12 container-textarea-form">
                <label for="">Opinión</label>
                <textarea type="text" class="form-control" name="opinion">{{opinion.opinion}}</textarea>
            </div>
            <div class="col-6 container-input-form-autor">
                <label for="">Autor</label>
                <input type="text" class="form-control" name="autor" value="{{opinion.autor}}">
            </div>
            <div class="col-6 container-input-form-zona">
                <label for="">Zona</label>
                <input type="text" class="form-control" name="zona" value="{{opinion.zona}}">
            </div>
            <button type="submit" class="btn btn-primary"><span>Modificar</span></button>
        </form>
        {{#if error}}
            <p>{{message}}</p>
        {{/if}}
    </div>
</div>